@import url("https://assets.24g.com/public/2022-frontend-test-project/fonts.css");

$primary-color: #fff;
$scroll-color: #393c3e;
// Fonts
$font-title: "Writable Story";
$font-title-size: 7rem;
$font-title-regular: 400;
$font-text: "Brandon Grotesque";
$font-text-size: 2rem;
$font-text-regular: 400;
$font-text-medium: 500;
$font-text-bold: 700;

// Modal
$modal-background: #1f1f1f;
$modal-overlay: #808080;
$modal-scroll: #393c3e;
$modal-subheader: 2.1rem;
$modal-text: 1.6rem;
